app-bat-item{
  margin:15px;
  padding:0px;
  border-style:solid;
  border-width:medium;
  border-radius: 5px;
  background-color: rgba(211, 211, 211, 0.3215686274509804);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;

}
